body {
    background: #33303d;
    font-family: "Bahnschrift"
}

a {
    color: white;
    transition: transform .3s ease;
}

a:hover {
    color: white;
    transform: scale(1.05);
}

aside {
    background: #43404d;
    position: absolute;
    top: 60px;
    padding-right: 2.5%;
    height: 100%;
    width: 20%;
    color: grey;
    border-right: 5px solid;
}

aside ul {list-style: none}
aside ul li {
    color: white;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    padding-inline-start: 10px;
    transition: transform .3s ease;
}

aside ul li:hover, aside ul a:hover{
    transform: scale(1.05);
}

.login {
    float: right;
    font-size: 15px;
    color: white;
    margin-right: 10px;
    transition: transform .3s ease;
}

.login a:hover {
    transform: scale(1.05);
}

.login:hover {
    color: white;
}

nav {
    background: #53505d;
    float: top;
    height: 60px;
    width: 100%;
    padding: 20px;
    color: grey;
}

nav input:focus {
    background: white;
}

nav input {
    background: #43404d;
    text-color: white;
    width: 60%;
}

.user {
    float: left;
    font-size: 30px;
    color: white;
    margin-right: 97px;
    position: absolute;
    top: 1px;
    left: 8px;
}

.user:hover {
    color: white;
    transform: scale(1.05);
    transition: transform .3s ease;
}

form {
    background: #62606d;
    position: absolute;
    left: 35%;
    top: 20%;
    height: 600px;
    width: 500px;
}

.upload_btn {
    position: relative;
    left: 190px;
    top: 35px;
    width: 150px;
    color: black;
    background: #62c443;
}

.delete_btn {
    float: left;
    position: relative;
    top: 35px;
    left: 10px;
    width: 150px;
    background: #c42f2f;
    color: white;
}

.tag_field {
    position: relative;
    left: 50px;
    top: 475px;
    height: 5%;
    width: 80%
}

.name_field {
    position: relative;
    left: 50px;
    top: 400px;
    height: 5%;
    width: 80%;
}

.file_upl {
    position: relative;
    left: 15%;
    height: 100px;
    background: #463f51;
}
.redact {
  display: grid;
  align-items: end;
  height: 400px;
  background: #baa970;
}


.scroll_memes {
    color: white;
    float: right;
    width: auto;
    margin-bottom: 15px;
    border: 5px solid;
    border-color:  #28283a;
    font-size: 15px;
}

#id_tags {
    color: #1d2124;
    width: 88%;
}

#id_image {
    height: 400px;
    width: 355px;
    background: #071a5f29;
}

.save_btn {
    position: relative;
    left: 105px;
    top: 393px;
    width: 150px;
    color: black;
    background: #62c443;
}

.search_bar_form {
    position: absolute;
    top: 2%;
    width: 60%;
    height: 27px;
    left: 25%;
}

.search_bar {
    width: 90%;
}

.search_btn {
    width: 9%;
    background: #43404d;
    color: white;
}

.mem_name {
    position: relative;
    left: 5%;
    max-width: 100%;
    font-size: 25px;
}

.mem_img {
    max-width: 500px;
    margin-left: 25px;
}
.search_h1 {
    color: white;
    width: 80%;
    float: right;
}