form {
    background: #23ad65;
    width: 70%;
}

.upload_btn {
    margin-top: 200px;
    color: red;
    float: right;
}

.delete_btn {
    float: left;
}

.tag_field {
    width: 88%;
    float: right;
    height: 15%;
}

#id_name {
    color: red;
    margin-right: 100px;
}