{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}Добавить мем{% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/upload.css' %}">
</head>

<body>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="tag_field" placeholder="тэги"/>
        <input class="name_field" placeholder="название"/>
        <p><input class="file_upl" type="file" name="meme" multiple accept="image/*,image/jpeg" style="color:#aaf; width: 350px;">
            <input value="Добавить мем" type="button" class="upload_btn" onclick="location.href='/'" />
            <input value="Удалить мем" type="button" class="delete_btn" onclick="location.href='/'" />
        </p>
    </form>

    {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
         <img src="{{ img_obj.image.url}}" alt="connect" width="370" height="370" style="max-height:300px">
    {% endif %}
    {% endblock %}
</body>