{% extends 'base.html' %}
{% load static %}

<head>
    {% block title %}Добавить мем{% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/upload.css' %}">
</head>

<body>
    {% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="upload_btn">Добавить мем</button>
        <input type="button" value="Отмена" class="delete_btn" onclick="location.href='/'" />
        {% if img_obj %}
                <h3>{{img_obj.title}}</h3>
                <img src="{{ img_obj.image.url}}" alt="connect" width="370" height="370" style="max-height:300px; position: absolute;left: 78px;
                top: 61px;">
    {% endif %}
    {% endblock %}
        </form>


</body>