{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title class="float-md-start mb-0">{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        <style>
    #zatemnenie {
    position: fixed;
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    }
    #okno {
        position: fixed;
        width: 292px;
        height: auto;
        text-align: -webkit-left;
        padding: 14px;
        border-radius: 0px;
        right: -3px;
        bottom: 0;
        left: 0;
        margin-left: auto;
        background: #434049;
        top: 0px;
    }
    #zatemnenie:target {display: block;}
    .closes {
    float: right;
    font-size: 15px;
    color: white;
    margin-right: 17px;
    margin-top: 6px;
    transition: transform .3s ease;
    }
    .closes:hover {background: #e6e6ff;}
    </style>
    </head>
    <body>
        <main>
            <div>
                <nav>
                    <a class="user" href="/login"><i class="fas fa-user"></i>User</a>
                    <form class="search_bar_form" action="{% url 'search_results' %}" method="get">
                    <input class="search_bar" type="search" name="q" content="Поиск">
                    <button class="search_btn" type="submit"> Поиск </button>
                    </form>
                    <div id="zatemnenie">
                        <div id="okno">
                        <a href="#" class="closes">Фильтры</a><br><br>

                        <p style="color: white"><input type="checkbox" value="Теги">#{{el.tags}}</p><br>
                            
                        </div>
                    </div>
                        <a class = "login" href="#zatemnenie">Фильтры</a>
                </nav>
            </div>
            <p>
                {% block content %}{% endblock %}
            </p>
        </main>
        <aside style = "background: #43404d;
        position: fixed;
        top: 0px;
        padding-right: 2.5%;
        height: 100%;
        width: 14%;
        color: grey;
        border-right: 5px solid;">
                <ul>
                    <a class="user" href="/login"><i class="fas fa-user"></i>User</a><br>>
                    <a class="nav-link active" aria-current="page" href="/"><li> Главная</li></a>
                    <a class="nav-link" href="/upload"><li>Добавить</li></a>
                    <a class="nav-link" href="/featured"><li>Избранные</li></a>
                </ul>
            </aside>

    </body>
</html>
