{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}{% endblock %}
    </head>

    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>