{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Регистрация</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="{% static 'log-reg/demo.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'log-reg/style.css' %}" >
    </head>
    <body>
        <div class="container">
            <!-- Codrops top bar -->
            <header>

            </header>
            <section>
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="/" autocomplete="on">
                                <h1>Регистрация</h1>
                                <p>
                                    <label for="username" class="uname" data-icon="u" >Логин </label>
                                    <input id="username" name="username" required type="text" placeholder="Введите логин"/>
                                </p>
                                <p>
                                    <label for="password" class="youpasswd" data-icon="p"> Пароль </label>
                                    <input id="password" name="password" required type="password" placeholder="Введите пароль" />
                                </p>
                                <p class="login button">
                                    <a href="/register"><input value="Зарегистрироваться"/></a>
								</p>
                                <p class="exit button">
                                    <a href="/"><input type="submit"  value="Войти" /></a>
								</p>
                            </form>
                        </div>
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>