

<!doctype html>
<html lang="en">
    <head>
        {% extends 'base.html' %}
{% load static %}
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'main/css/review.css' %}">
        {% block title %}Страница с мемами{% endblock %}
    </head>
    <body>
        {% block content %}

        {% if latest_memes_list %}
            {% for a in latest_memes_list %}
                <a href="{% url 'memes:mem' a.id %}">{{a.mem_title}}</a>
            {% endfor %}
        {% else %}
            мемасиков нету(
        {% endif %}

        {% endblock %}
    </body>
</html>
