{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'main/css/mem_list.css' %}">
    <title>{% block title %} Страница с мемами {% endblock %}</title>
</head>

<body>
    {% block content %}
        {% for el in memes %}
            <div class="scroll_memes" style="
            color: white;float: left;width: auto;margin-bottom: 15px;
            border: 5px solid;border-color:  #28283a;font-size: 15px;border-top-width: 5px;
            border-right-width: 5px;padding-left: 5px;margin-left: 290px;margin-right: -250px;
            margin-top: 15px;padding-right: 5px;padding-top: 5px;
            ">
                <h5 style="position: relative;
                                        left: 5%;
                                        max-width: 100%;
                                        font-size: 25px;">{{el.name}}</h5>
                <img src="../media/{{el.image}}" class="mem_img" width="320" height="320" style="
                margin-left: 10px; margin-right: 10px;">
                <br><a href="edit/{{el.id}}">Редактировать мем</a>
                <a href="delete/{{el.id}}" style = "float: right;">Удалить</a>
                <br><label>#{{el.tags}}</label>
            </div>
        {% empty %}
            <h1>У вас пока нет мемов</h1>
        {% endfor %}
    {% endblock %}
</body>
