

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}{{mem.mem_title}}{% endblock %}
    </head>

    <body>
        <main>
            {% block content %}

            <h2>{{mem.mem_title}}</h2>
            <p>{{mem.mem_img}}</p>
            <em>{{mem.mem_pub}}</em>
            <hr>

            {% if latest_tags_list %}
                {% for c in latest_tags_list %}
                    <p><strong>{{c.tag_title}}</strong></p>
                {% endfor %}
            {% else %}
                Тэгов нету
            {% endif %}

            <hr>

            <form>
                {% csrf_token %}
                <input type="text" required placeholder="Тэг" name="tag">
                <button type="submit">Добавить тэг</button>
            </form>

            {% endblock %}
        </main>
    </body>
</html>