{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'main/css/mem_list.css' %}">
    {% block title %} Редактирование мема {% endblock %}
</head>

<body>
    {% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>
        <img src="../media/{{el.image}}" class="mem_img">
        </p>
        <p>
            <label style = "margin-left: 10px;color: white">Название:</label><br>
            <input type="text" name="name" value="{{el.name}}" style="margin-left: 10px; width: 450px"><br>
        </p>
        <p>
            <label style = "margin-left: 10px; color: white" >Теги:</label><br>
            <input type="text" name="tags" value="{{el.tags}}" style="margin-left: 10px; width: 450px">
        </p>
        <input type="button" value="Отмена" style = "float: left;
            position: relative;
            top: 353px;
            left: 21px;
            width: 150px;
            background: #c42f2f;
            color: white;" onclick="location.href='/'" />
        <input type="submit" value ="Сохранить" style="
            position: relative;
            left: inherit;
            top: 354px;
            width: 150px;
            color: black;
            background: #62c443;
            background: #62c443;
            padding-right: 6px;
            border-right-width: 2px;
            right: -175;
            margin-right: 0px;
            ">
    </form>
    {% endblock %}
</body>