{% extends  "base.html" %}
{% load static %}

{% block main %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Log in to your account</h4>

            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
        </div>
    </div>
{% endblock %}

