{% extends 'base.html' %}
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'main/css/mem_list.css' %}">
    <title>{% block title %} Запрос поиска {% endblock %}</title>
</head>

<body>
    {% block content %}
        <h1 class="search_h1">Результат поиска</h1>

        <ul>
            {% for el in object_list %}
            <div class="scroll_memes" style="
            color: white;float: left;width: auto;margin-bottom: 15px;
            border: 5px solid;border-color:  #28283a;font-size: 15px;border-top-width: 5px;
            border-right-width: 5px;padding-left: 5px;margin-left: 260px;margin-right: -230px;
            margin-top: 15px;padding-right: 5px;padding-top: 5px;
            ">
                <h5 class="mem_name">{{ el.name }}</h5>
                <img src="../media/{{ el.image}}" class="mem_img" width="320" height="320" style="
                margin-left: 10px; margin-right: 10px;">
                <br><label>#{{ el.tags}}</label>

            </div>
            {% empty %}
                <h2 class="search_h1" >По вашему запросу ничего не найдено</h2>
            {% endfor %}
        </ul>
    {% endblock %}
</body>